*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    --webkit-font-smoothing: antialiased;
}

body{
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/FEEDBACK.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -97rem;
}

::-webkit-scrollbar{
    width: 10px;
}

  
::-webkit-scrollbar-track{
    background: #18181B;
}
    
::-webkit-scrollbar-thumb{
    background: #14141B;
    border-radius: 10px;
}

@media (max-width: 768px) {
    body {
        background-image: url('../assets/FEEDBACK.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}