.container {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.profile-picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.profile-picture img {
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    border: 2px solid #ffd700;
    box-shadow: 0 0 10px #ffd700;
}

.legend {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    text-align: center;
    padding: 0 1rem;
    color: #fff;
    gap: 0.25rem;
    font-weight: bold;
    text-shadow: 1px 1px 1px #3f3f46;
}

.link-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.link-container > h2 {
    font-size: 1.3rem;
    font-weight: 700;
    width: 100%;
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: #fff;
    text-shadow: 1px 1px 1px #3f3f46;
}

.logo-container > p > i {
    color: #ffd700;
    font-size: 1rem;
    font-weight: bold;
}


.link-container nav {
    width: 100%;
    max-width: 37.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 0 1rem;
  
}

.link-container nav a {
    width: 100%;
    max-width: 37.5rem;
    padding: 1rem 0;
    border-radius: 3rem;
    background-color: transparent;
    border: 2px solid #ffd700;
    color : #ffd700;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    transition: all 0.3s ease-in-out;
    font-weight: 500;
    font-size: 1.1rem;
    box-shadow: 1px 1px 2px #18181b;
  
}


.link-container nav a:hover {
    background-color: #ffd700;
    color: #18181B;
    font-weight: 500;
    scale: 1.05;
    box-shadow: 10px 10px 10px #3f3f46;
}

.btn-open {
    width: 100%;
    max-width: 37.5rem;
    padding: 1rem 0;
    border-radius: 3rem;
    background-color: transparent;
    border: 2px solid #ffd700;
    color : #ffd700;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    transition: all 0.3s ease-in-out;
    font-weight: 500;
    font-size: 1.1rem;
    box-shadow: 1px 1px 2px #18181b;
}


.btn-open:hover {
    background-color: #ffd700;
    color: #18181B;
    font-weight: 500;
    scale: 1.05;
    cursor: pointer;
    box-shadow: 10px 10px 10px #3f3f46;
}

.instagram-name {
    font-style: italic;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
   
}

.instagram-name a {
    color: #fff;
    text-decoration: none;
    text-shadow: 1px 1px 1px #3f3f46;
}

footer {
    width: 100%;
    max-width: 37.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1rem;
    gap: 1rem;

}