.modal {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem;
    display: none; 
    position: fixed; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-content {
    background-color: #18181B;
    border-radius: 0.5rem;
    padding: 2rem 1rem;
    width: 100%;
    max-width: 37.5rem;
    overflow-y: auto;
    color: #F59E0B;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.modal-content h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.modal-content ul {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    list-style: none;
}

.modal-content li {
    font-size: 1rem;
    line-height: 1.5rem;
    color: #fff;
}

.modal-content li strong {
    color: #F59E4f;
    display: block;
}

.modal-content p {
    font-size: 1rem;
    line-height: 1.5rem;
    color: #fff;
}

.modal-content h2 {
    font-size: 1.25rem;
    margin: 1rem 0;
}

.btn-close {
    background-color: transparent;
    border: none;
    color: #ff2929;
    font-size: 1.5rem;
    cursor: pointer;
    margin-bottom: 1rem;
}